body {
  background: #202124;
  color: #ddd;
  margin:0px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.republican {
  color:  #FF3131;
}

.democrat {
  color: #0096FF;
}