body {
  background: #202124;
  color: #ddd;
  margin:0px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

#chartTitle {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: white;
}

.republican {
  color:  #FF3131;
}

.democrat {
  color: #5094ed;
}

.none {
  color: white;
}

.MuiTableRow-root.Mui-selected {
  background-color: #c200ff29;
}

.apexcharts-tooltip {
  background: #f3f3f3;
  color: black;
}