  .sidebar-menu {
    background-color: #fafafa;
    width: 40vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 48px;
    left: -100%;
    transition: 750ms;
    z-index: 1;
  }
  
  .sidebar-menu.active {
    left: 0;
    transition: 300ms;
  }
